@import 'main';

.video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1000;
	transition: transform 0.2s;
}

.video-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1000;
	transition: transform 0.5s ease-out;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.video-bg::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.48);
}

.video-bg > video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-aspect-ratio: 16/9) {
	.video-bg > video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	.video-bg > video {
		width: 300%;
		left: -100%;
	}
}

@supports (object-fit: cover) {
	.video-bg > video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (max-width: $breakpoint-mobile) {
	//Manage Display Headers for Mobile Devices
	.display-1 {
		font-size: 3rem;
		font-weight: 300;
		line-height: 1;
	}

	.display-2 {
		font-size: 2.75rem;
		font-weight: 300;
		line-height: 1;
	}

	.display-3 {
		font-size: 2.25rem;
		font-weight: 300;
		line-height: 1;
	}

	.display-4 {
		font-size: 1.88rem;
		font-weight: 300;
		line-height: 1;
	}
}

#logotype {
	z-index: 4;
}

#products,
#projects {
	transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	cursor: pointer;
	cursor: hand;

	&:hover {
		background-origin: content-box;
		background-size: cover;

		h2 {
			font-weight: bold !important;
		}

	}

	h2 {
		transition-property: font-weight;
		transition-duration: 0.2s, 1s;
		transition-timing-function: linear, ease-in;
		transition-delay: 0s, 1s;
		z-index: 4;

		@media only screen and (max-width: $breakpoint-mobile) {
			font-size: 3rem;
		}

		@media only screen and (min-width: $breakpoint-tablet) {
			font-size: 5.2rem;
		}

		@media only screen and (min-width: $breakpoint-tablet + 1) and (max-width: $breakpoint-large - 1) {
			font-size: 5.5rem;
			font-size-adjust: 0.58;
		}
	}
}

#projects {
	background-color: rgba($blue, 0.25);
}

#products {
	background-color: rgba($green, 0.25);
}