@import 'main';

html,
body {
	font-size: 14px !important;
}

// header {
// }

// footer {
// }

h1 {
	font-size: 1.602em;
}

h2 {
	font-size: 1.424em;
}

h3 {
	font-size: 1.266em;
}

h4 {
	font-size: 1.125em;
}

h5 {
	font-size: 0.889em;
}

h6 {
	font-size: 0.79em;
}

.display-1 {
	font-size: 3.906em;
}

.display-2 {
	font-size: 3.125em;
}

.display-3 {
	font-size: 2.5em;
}

.display-4 {
	font-size: 2em;
}

// Medium devices (tablets, 48em and up)
//
// At this point you have overridden Bootstraps rem's and are
// into module based font sizes should you require it.
//
// I took a while over this change because I felt that there
// is no reason why I cant use a modified scale on another
// device size. So I did, the headings have now taken on
// "Perfect Fourth" and the dislpay-* has been put to the
// Bootstrap defaults.
//
//------------------------------------------------------------//
@media (min-width: 48em) {
	h1 {
		font-size: 2.441em;
	}

	h2 {
		font-size: 1.953em;
	}

	h3 {
		font-size: 1.563em;
	}

	h4 {
		font-size: 1.25em;
	}

	.display-1 {
		font-size: 6em;
	}

	.display-2 {
		font-size: 5.5em;
	}

	.display-3 {
		font-size: 4.5em;
	}

	.display-4 {
		font-size: 3.5em;
	}
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}

// Pen Specific Styles
.jumbotron {
	font-size: 16px;

	@media (min-width: 62em) {
		font-size: 20px;
	}

	h1 {
		border-bottom: 4px solid #0275d8;
	}

	p.lead {
		border-radius: 4px;
	}
}

.bg-white-80 {
	background: $white-80;
}

// ========================
//  || NAVBAR TOP MENU  ||
// ========================
#menu-container {
	height: 100%;
}

.main-menu {
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
}
.nav-open .main-menu {
	opacity: 1;
	visibility: visible;
	background: $primary; // rgba(0, 0, 0, 0.92);
}
.main-menu .nav li a {
	color: #fff;
	font-size: 5vh;
	font-weight: 600;
}
.main-menu .nav li {
	opacity: 0;
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
	-moz-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
	-o-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
	animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
}
.nav-open .main-menu .nav li {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.main-menu .nav li.delay-1 {
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.main-menu .nav li.delay-2 {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.main-menu .nav li.delay-3 {
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.main-menu .nav li.delay-4 {
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.main-menu .nav li.delay-5 {
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.main-menu .nav li.delay-6 {
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	-ms-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.main-menu .nav li.delay-7 {
	-webkit-transition-delay: 0.7s;
	-moz-transition-delay: 0.7s;
	-ms-transition-delay: 0.7s;
	-o-transition-delay: 0.7s;
	transition-delay: 0.7s;
}
.main-menu .nav li.delay-8 {
	-webkit-transition-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	-ms-transition-delay: 0.8s;
	-o-transition-delay: 0.8s;
	transition-delay: 0.8s;
}
.main-menu .nav li.delay-9 {
	-webkit-transition-delay: 0.9s;
	-moz-transition-delay: 0.9s;
	-ms-transition-delay: 0.9s;
	-o-transition-delay: 0.9s;
	transition-delay: 0.9s;
}

.nav-button {
	position: relative;
	z-index: 1111;
	// border: solid 1px #f8f8f8;
	height: 42px;
	display: block;
	width: 50px;
	padding: 12px;
}
.nav-button #nav-icon3 {
	width: 24px;
	height: 22px;
	display: inline-block;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.nav-button #nav-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #ffffff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}
.nav-button #nav-icon3 span:nth-child(1) {
	top: 0;
}
.nav-button #nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
	top: 7px;
}
.nav-button #nav-icon3 span:nth-child(4) {
	top: 14px;
}
.nav-open #nav-icon3 span:nth-child(1) {
	top: 9px;
	width: 0;
	left: 50%;
}
.nav-open #nav-icon3 span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-open #nav-icon3 span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.nav-open #nav-icon3 span:nth-child(4) {
	top: 9px;
	width: 0;
	left: 50%;
}

.flex-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

/* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
	display: flex;
	flex-wrap: wrap;
}

/* vertical spacing between columns */

[class*='col-'] {
	// margin-bottom: 30px;
}

.content {
	height: 100%;
	padding: 20px 20px 10px;
	color: #fff;
}

/* Demo backgrounds and styling*/

.colour-1 {
	background: #483c46;
	color: #fff;
}

.colour-2 {
	background: #3c6e71;
}

.colour-3 {
	background: #70ae6e;
}

.colour-4 {
	background: #82204a;
}

.colour-5 {
	background: #558c8c;
}

.colour-6 {
	background: #917c78;
}

.product {
	.product-header {
		height: 50px;
		overflow: hidden;
	}
}